<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    {{> header}}

    <h2>Current projects: </h2>
    <ul>
        <li><a href="http://github.com/RIstiaque">Github</a></li>
    </ul>

    {{> footer}}
  </body>
</html>
